pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 120%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: inherit;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 120%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: cornflowerblue;
    background: inherit;
}

.name code {
    color: black;
}

.name > code {

}

div.func .name > code {
    /*color: black;*/
}

code.block {
    display: block;
    width: auto;
}

#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

h2.top {
    text-align: center;
}

div.section {
    margin: 10px;
    padding: 10px;
}

div.func, div.attrs {
    margin: 20px 10px;
    padding: 10px 20px 10px 10px;
    background-color: aliceblue;
    border-radius: 5px;
    border: solid 1px #f0f0f0;
}

div.attr {
    margin-bottom: 4px;
}

.name {
    font-style: italic;
    margin: auto 6px;
    font-size: 1.1em;
}

div.func .name {
    font-size: 1.2em;
}

.desc, .remark {
    margin-top: 5px;
    padding-left: 20px;
}

div.remark {
    font-style: italic;
    color: dimgray;
}

ul.impl {
    margin-top: 10px;
}