/*
* Copyright 2017 Declan Chen <chenye94@qq.com>
*
* This file is part of s3fs-doc.
*
* s3fs-doc is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.

* s3fs-doc is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.

* You should have received a copy of the GNU General Public License
* along with s3fs-doc.  If not, see <http://www.gnu.org/licenses/>.
*/

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 95%;
    line-height: 120%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: inherit;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 95%;
    line-height: 120%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    color: cornflowerblue;
    background: inherit;
}

.name code {
    color: black;
}

.name > code {

}

div.func .name > code {
    /*color: black;*/
}

code.block {
    display: block;
    width: auto;
}

#content code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

h2.top {
    text-align: center;
}

div.section {
    margin: 10px;
    padding: 10px;
}

div.func, div.attrs {
    margin: 20px 10px;
    padding: 10px 20px 10px 10px;
    background-color: aliceblue;
    border-radius: 5px;
    border: solid 1px #f0f0f0;
}

div.attr {
    margin-bottom: 4px;
}

.name {
    font-style: italic;
    margin: auto 6px;
    font-size: 1.1em;
}

div.func .name {
    font-size: 1.2em;
}

.desc, .remark {
    margin-top: 5px;
    padding-left: 20px;
}

div.remark {
    font-style: italic;
    color: dimgray;
}

ul.impl {
    margin-top: 10px;
}